@import "../../variables.scss";

.blog-header {
    margin-bottom: 26px;
    background-color: $background-color-base;
    padding: 0 22px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;
}

.link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-right: 1em;
}

.link-root {
    margin-right: auto;
}

.link-register {
    border: 1px solid $success-color;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: $success-color;
}

.link-logout {
    background-color: $background-color-base;
    border: 1px solid $text-color;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: $text-color;
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: row;
}

.link-new-article {
font-size: 14px;
line-height: 22px;    
    border: 1px solid $success-color;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: $success-color;
}
