@import "../../variables.scss";

.form-header-container {
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 21px;
}

.form-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    text-align: center;

    color: $grey-9;
}    
