@import "../../variables.scss";

.app {
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 78px;
    align-items: center;
}

a {
    text-decoration: none;
    color: $heading-color;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
