@import "../../variables.scss";

.blog-post-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.blog-post-title {
    font-family: Inter;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: $info-color;
    margin-right: 1em;
}

.blog-post-content {
    font-family: 'Inter';
    font-size: $font-size-sm;
    line-height: 22px;
    font-weight: 400;
    color: $text-color;
    width: 75%;
}

.blog-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likes-count {
    font-family: 'Inter';
    font-size: $font-size-sm;
    line-height: 22px;
    font-weight: 400;
    color: $text-color;
    margin: 0 5px;
}

.blog-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
};

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: nowrap;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
}
