@import "../../variables.scss";

.form-field-error {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: $highlight-color;

    margin: 0;
}
