@import "../../variables.scss";

.btn-submit {
    background-color: $background-color-base;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 8px;
    margin-top: 21px;
    cursor: pointer;
    color: $day-break-blue;
    border: 1px solid $day-break-blue;
    outline: none;

    &--sm {
	width: 35%;
    }

    &:focus, &:hover, &--sm:focus, &--sm:hover {
	color: $background-color-base;
	background-color: $day-break-blue;
	border: 1px solid $day-break-blue;
    }
}
