$background-color-base: white;
$success-color: #52C41A;
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$info-color: rgba(24, 144, 255, 1);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$font-size-sm: 12px;
$grey-6: #BFBFBF;
$grey-7: #8C8C8C;
$day-break-blue: #1890FF;

.redirect-note {
    /* Regular / 12px | 20 px */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-align: center;

/* Grey / grey-7 */

color: $grey-7;
}
