@import "../../variables.scss";

.redirect-note {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    color: $grey-7;
}
